.comments_wrapper {
    text-align: center;

    button {
        padding: 12px 50px;
        border-radius: 25px;
        color: var(--accent);
        border-color: var(--accent);
        background: transparent;
    }
}

.comments {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: initial;

    li {
        display: flex;
        margin: 8px 0;

        div.pfp {
            margin: 0 8px 0px 0px;
        }

        h3 {
            margin: 0;
        }

        .content {
            margin: 0;
            white-space: pre-wrap;

            img.emoji {
                margin: 0 2px;
                vertical-align: -6px;
            }
        }

        .date {
            margin: 0;
            color: grey;
        }
    }
}