.search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: masonry;
    grid-gap: 0.5rem;
    list-style: none;
    padding: 0px;

    li {
        width: 200px;
        height: auto;
        position: relative;
        margin: auto;
        line-height: normal;

        div {
            position: relative;
            display: inline-block;

            img {
                display: block;
                border-radius: 6px;
                width: 100%;
                height: auto;
            }

            svg {
                pointer-events: none;
            }

            .hover {
                position: absolute;
                margin: 6px;
                padding: 0px 6px;
                color: white;
                fill: white;
                font-weight: bold;
                font-size: 10px;
                line-height: 16px;
            }

            .warn {
                background: var(--accent);
                border-radius: 3px;
            }

            .count {
                right: 0px;
                background: rgba(0, 0, 0, 0.32);
                border-radius: 10px;

                svg {
                    width: 9px;
                    height: 9px;
                    margin-right: 5px;
                }
            }

            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 35px;
                height: 35px;
                transform: translate(-50%, -50%);
            }
        }

        span {
            font-size: 16px;
            color: var(--fg_color);
        }
    }
}

.load_more {
    text-align: center;
    grid-column: 1 / -1;

    button {
        padding: 12px 50px;
        border-radius: 25px;
        color: var(--accent);
        border-color: var(--accent);
        background: transparent;
    }
}
