.search {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: masonry;
    grid-gap: 0.5rem;
    list-style: none;
    padding: 0px;

    li {
        width: 200px;
        height: auto;
        position: relative;
        margin: auto;
        line-height: normal;
    }

    img {
        border-radius: 6px;
    }

    a {
        font-size: 16px;
        color: var(--fg_color);
    }

    &__hover {
        padding: 0px 6px;
        font-weight: bold;
        font-size: 10px;
        line-height: 16px;
        position: absolute;
        margin: 6px;
    }

    &__warn {
        color: white;
        background: var(--accent);
        border-radius: 3px;
    }

    &__count {
        color: white;
        fill: white;
        background: rgba(0, 0, 0, 0.32);
        border-radius: 10px;
        right: 0px;

        svg {
            width: 9px;
            height: 9px;
            margin-right: 5px;
        }
    }

    &__play {
        width: 35px;
        height: 35px;
        position: absolute;
        left: 100px;
        top: 100px;
        transform: translate(-50%, -50%);
    }
}